USE [DigiturkBlogSystem]
GO
/****** Object:  Table [dbo].[NLogs]    Script Date: 10.08.2020 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Application] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[Logger] [nvarchar](max) NULL,
	[Callsite] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
	[Logged] [nvarchar](max) NULL,
 CONSTRAINT [PK_NLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NLogs] ON 

INSERT [dbo].[NLogs] ([Id], [Application], [Level], [Message], [Logger], [Callsite], [Exception], [Logged]) VALUES (37, N'AspNetCoreNlog', N'Info', N'Loglayın', N'WebApplication2.Controllers.WeatherForecastController', N'WebApplication2.Controllers.WeatherForecastController..ctor(C:\Users\serve\source\repos\WebApplication2\WebApplication2\Controllers\WeatherForecastController.cs:25)', N'', N'2020/08/09 23:12:30.598')
INSERT [dbo].[NLogs] ([Id], [Application], [Level], [Message], [Logger], [Callsite], [Exception], [Logged]) VALUES (38, N'AspNetCoreNlog', N'Info', N'Loglayın', N'WebApplication2.Controllers.WeatherForecastController', N'WebApplication2.Controllers.WeatherForecastController..ctor(C:\Users\serve\source\repos\WebApplication2\WebApplication2\Controllers\WeatherForecastController.cs:25)', N'', N'2020/08/09 23:12:30.598')
INSERT [dbo].[NLogs] ([Id], [Application], [Level], [Message], [Logger], [Callsite], [Exception], [Logged]) VALUES (39, N'AspNetCoreNlog', N'Info', N'Application started. Press Ctrl+C to shut down.', N'Microsoft.Hosting.Lifetime', N'Microsoft.Extensions.Hosting.Internal.ConsoleLifetime.OnApplicationStarted', N'', N'2020/08/09 23:13:09.502')
GO
INSERT [dbo].[NLogs] ([Id], [Application], [Level], [Message], [Logger], [Callsite], [Exception], [Logged]) VALUES (145, N'AspNetCoreNlog', N'Error', N'An unhandled exception has occurred while executing the request.', N'Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware', N'Microsoft.AspNetCore.Diagnostics.DiagnosticsLoggerExtensions.UnhandledException', N'System.ArgumentNullException: Value cannot be null. (Parameter ''property'')
   at System.Linq.Expressions.Expression.Property(Expression expression, PropertyInfo property)
   at Blog.WebApi.Utility.ExpressionHelper.<>c__DisplayClass0_0`1.<CreateNewStatement>b__1(String o) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Utility\ExpressionHelper.cs:line 27
   at System.Linq.Utilities.<>c__DisplayClass2_0`3.<CombineSelectors>b__0(TSource x)
   at System.Linq.Enumerable.SelectArrayIterator`2.MoveNext()
   at System.Collections.Generic.LargeArrayBuilder`1.AddRange(IEnumerable`1 items)
   at System.Collections.Generic.EnumerableHelpers.ToArray[T](IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at System.Dynamic.Utils.CollectionExtensions.ToReadOnly[T](IEnumerable`1 enumerable)
   at System.Linq.Expressions.Expression.MemberInit(NewExpression newExpression, IEnumerable`1 bindings)
   at Blog.WebApi.Utility.ExpressionHelper.CreateNewStatement[T](String fields) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Utility\ExpressionHelper.cs:line 35
   at Blog.WebApi.Controllers.ArticleController.Get(String query, String fields, Nullable`1 catId, Int32 page, Int32 pageSize) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Controllers\ArticleController.cs:line 48
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.InvokeInnerFilterAsync()
--- End of stack trace from previous location where exception was thrown ---
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Awaited|17_0(ResourceInvoker invoker, Task task, IDisposable scope)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', N'2020/08/10 01:00:00.945')
INSERT [dbo].[NLogs] ([Id], [Application], [Level], [Message], [Logger], [Callsite], [Exception], [Logged]) VALUES (161, N'AspNetCoreNlog', N'Error', N'An unhandled exception has occurred while executing the request.', N'Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware', N'Microsoft.AspNetCore.Diagnostics.DiagnosticsLoggerExtensions.UnhandledException', N'System.ArgumentNullException: Value cannot be null. (Parameter ''property'')
   at System.Linq.Expressions.Expression.Property(Expression expression, PropertyInfo property)
   at Blog.WebApi.Utility.ExpressionHelper.<>c__DisplayClass0_0`1.<CreateNewStatement>b__1(String o) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Utility\ExpressionHelper.cs:line 27
   at System.Linq.Enumerable.SelectArrayIterator`2.MoveNext()
   at System.Collections.Generic.LargeArrayBuilder`1.AddRange(IEnumerable`1 items)
   at System.Collections.Generic.EnumerableHelpers.ToArray[T](IEnumerable`1 source)
   at System.Dynamic.Utils.CollectionExtensions.ToReadOnly[T](IEnumerable`1 enumerable)
   at System.Linq.Expressions.Expression.MemberInit(NewExpression newExpression, IEnumerable`1 bindings)
   at Blog.WebApi.Utility.ExpressionHelper.CreateNewStatement[T](String fields) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Utility\ExpressionHelper.cs:line 35
   at Blog.WebApi.Controllers.ArticleController.Get(String query, String fields, Nullable`1 catId, Int32 page, Int32 pageSize) in C:\Users\serve\source\repos\WebApplication2\WebApplication2\Controllers\ArticleController.cs:line 48
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.InvokeInnerFilterAsync()
--- End of stack trace from previous location where exception was thrown ---
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Awaited|17_0(ResourceInvoker invoker, Task task, IDisposable scope)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', N'2020/08/10 01:04:10.687')
SET IDENTITY_INSERT [dbo].[NLogs] OFF
